<div class="container">
  <%= render "navbar", task: @flats %>
</div>

<div class="container">
  <h1>All our flats</h1>
  <h2>All <%= @flats.count %> flats.</h2>

  <div class="container" id="appartments-container">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card shadow-sm" style="width: 100%;">
            <img src="<%= flat.image %>" alt="">
            <div class="card-body p-0">
              <div class="bg-light p-3 border-bottom">
                <h5 class="card-title"><%= flat.name %></h5>
                <p class="card-text"><%= flat.description %></p>
                <p class="card-text">
                  <small class="text-muted"><i class="fa-solid fa-user-group"></i><%= flat.number_of_guests %></small>
                  <small class="text-muted"><i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></small>
                </p>
              </div>
              <div class="p-3">
                <%= link_to "More info", flat_path(flat) %>
                <%= link_to "Edit", edit_flat_path(flat), class: "text-warning" %>
                <%= link_to "Delete",
                  flat_path(flat), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
